@model IEnumerable<ProyectoCRUD.Models.Entities.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Crear" class="btn btn-outline-info"><i class="fas fa-plus-circle"> Nuevo Producto</i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProducto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Modificar" asp-route-id="@item.ProductoId" class="btn btn-success"><i class="fas fa-edit"></i> Editar</a> |
                <a asp-action="Detalle" asp-route-id="@item.ProductoId" class="btn btn-secondary"><i class="fas fa-info"></i> Detalles</a> |
                <a asp-action="Eliminar" asp-route-id="@item.ProductoId" class="btn btn-danger" onclick="return confirm('¿Desea eliminar este producto?')"><i class="fas fa-trash-alt"></i> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
